.contact {
    margin: 125px auto 39px auto;
    max-width: 908px;
}

.contact-title {
    text-align: center;
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
    color: #000000;

    margin-bottom: 39px;
}
.contact-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0 auto 108px auto;
    text-align: center;
    max-width: 561px;
    color: #000000;
}

.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form_wrap-small {
    display: flex;
    flex-direction: column;
}
.contact-form_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    justify-content: space-between;
}
.contact-form_text {
    width: 100%;
    flex: 1;

    margin-bottom: 94px;

    background: transparent;
    border: 0;
    padding: 12px 0;

    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    border-bottom: 1px solid #D8D8D8;;
}

@media (max-width: 500px) {
    .contact-form_text {
        flex: none;
        margin-bottom: 30px;
    }

}


.contact-form_submit {
    width: 55%;
    margin: 0 auto;
    padding: 16px 0;
    border: 0;
    border: 2px solid #000;
    transition: .4s ease;
    background: #000;
    color: #fff;
}
.contact-form_submit:hover, .contact-form_submit:focus, .contact-form_submit:active {
    background: #fff;
    color: #000;
}

.message-status {
    border: 3px solid #EFEFEF;
    border-radius: 3px;
    padding: 16px 0;
    margin-bottom: 60px;
}
.message-status p {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.error-message {
    border-color: #fdd7d7;
}
.success-message {
    border-color: #c6fbc1;
}