.reset_password {
    max-width: 561px;
    text-align: center;
    margin: 128px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.reset-title {
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 39px;
}
.reset-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin: 0 auto;
    margin-bottom: 76px;
}
.reset-complete {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.reset-complete div {
    width: 40%;
    padding: 16px 49px;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: 0.3s ease;
    margin: 0 auto;
}
.reset-complete div:hover, .reset-complete div:active, .reset-complete div:focus {
    background-color: #000;
    color: #ffffff;
}

.reset-password_form {
    display: flex;
    flex-direction: column;
}
.form-input {
    width: 100%;

    margin-bottom: 46px;

    background: transparent;
    border: 0;
    padding: 12px 0;

    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    border-bottom: 1px solid #D8D8D8;
}
.form-button{
    padding: 16px 0;
    border: 0;
    border: 2px solid #000;
    transition: .4s ease;
    background: #000;
    color: #fff;
}
.form-button:hover, .form-button:focus, .form-button:active {
    background: #fff;
    color: #000;
}