{% extends 'shop/base.html' %}
{% load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/about.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header-wrapper header-border">
        <div class="header-logo">
            <a href="{% url 'home' %}" class="header-logo-link">
                <h1 class="header-logo-link-title">
                    SHOPPE
                </h1>
            </a>
        </div>
        <div class="header-menu">
            <div class="header-menu-items">
                <a href="{% url 'shop' %}" class="header-menu-link-text">
                    Shop
                </a>
                <a href="{% url 'about' %}" class="header-menu-link-text flicking">
                    Our Story
                </a>
            </div>
            |
            <div class="header-menu-items">
                <a href="{% url 'cart' %}" class="header-menu-link-icon">
                    <img src="{% static 'shop/img/svg/header/icon-shopping.svg' %}" alt="shopping">
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account' %}" class="header-menu-link-icon">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-menu-link-icon">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<main class="main">
    <div class="about-wrap">
        <h1 class="about-title">
            About
        </h1>
        <p class="about-desc">
            This site was made solo by a 17 years old guy. This site is not a real online store, but just one of the portfolio projects. The site has many different and interesting features and capabilities. You can create an order, view the products you like, filter and add comments under the product.
        </p>
    </div>
</main>
{% endblock %}