{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    {% block css_styles %}
    <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet">
    {% endblock %}

    {% block js_head %}
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <!-- header start -->
        {% block header %}
        <header class="header">
            <div class="header-wrapper header-border">
                <div class="header-logo">
                    <a href="{% url 'home' %}" class="header-logo-link">
                        <h1 class="header-logo-link-title">
                            SHOPPE
                        </h1>
                    </a>
                </div>
                <div class="header-menu">
                    <div class="header-menu-items">
                        <a href="{% url 'shop' %}" class="header-menu-link-text flicking">
                            Shop
                        </a>
                        <a href="#!" class="header-menu-link-text">
                            Blog
                        </a>
                        <a href="#!" class="header-menu-link-text">
                            Our Story
                        </a>
                    </div>
                    |
                    <div class="header-menu-items">
                        <a href="{% url 'cart' %}" class="header-menu-link-icon">
                            <img src="{% static 'shop/img/svg/header/icon-shopping.svg' %}" alt="shopping">
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'account' %}" class="header-menu-link-icon">
                                <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}" class="header-menu-link-icon">
                                <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}


        {% block main %}
        {% endblock %}

        <footer class="footer">
            <div class="footer-border">
                <div class="footer-wrap">
                    <div class="footer-menu">
                        <a href="{% url 'contact' %}" class="footer-menu-words">
                            CONTACT
                        </a>
                        <a href="{% url 'privacy' %}" class="footer-menu-words">
                            TERMS OF SERVICES
                        </a>
                        <a href="#!" class="footer-menu-words">
                            SHIPPING AND RETURNS
                        </a>
                    </div>
                    <form class="footer-form">
                        <fieldset>
                            <p class="footer-form-info">
                                <input name="user-email" type="text" class="footer-form-field" placeholder="Give an email, get the newsletter.">
                                <button class="footer-form-submit">
                                    <img src="{% static 'shop/img/svg/footer/shape-form.svg' %}" alt="submit">
                                </button>
                            </p>
                        </fieldset>
                    </form>
                </div>
                <div class="footer-wrap">
                    <p class="footer-privacy">
                        © 2021 Shelly. Terms of use and privacy policy.
                    </p>
                    <div class="footer-link">
                        <a href="#!" class="footer-link-icon">
                            <img src="{% static 'shop/img/svg/footer/linked-in-icon.svg' %}" alt="LinkedIn">
                        </a>
                        <a href="#!" class="footer-link-icon">
                            <img src="{% static 'shop/img/svg/footer/facebook-icon.svg' %}" alt="Facebook">
                        </a>
                        <a href="#!" class="footer-link-icon">
                            <img src="{% static 'shop/img/svg/footer/instagram-icon.svg' %}" alt="Instagram">
                        </a>
                        <a href="#!" class="footer-link-icon">
                            <img src="{% static 'shop/img/svg/footer/twitter-icon.svg' %}" alt="Twitter">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'shop/js/fontAwesome.js' %}"></script>
    {% block js_scripts %}
    {% endblock %}
</body>
</html>