{% extends 'shop/base.html' %}
{% load static %}

{% block header %}
<header class="header">
    <div class="header-wrapper header-border">
        <div class="header-logo">
            <a href="{% url 'home' %}" class="header-logo-link">
                <h1 class="header-logo-link-title">
                    SHOPPE
                </h1>
            </a>
        </div>
        <div class="header_burger">
            <span></span>
        </div>
        <div class="header-menu">
            <div class="header-menu-items">
                <a href="{% url 'shop' %}" class="header-menu-link-text">
                    Shop
                </a>
                <a href="{% url 'about' %}" class="header-menu-link-text">
                    Our Story
                </a>
            </div>
            <span>|</span>
            <div class="header-menu-items">
                <a href="{% url 'cart' %}" class="header-menu-link-icon flicking">
                    <img src="{% static 'shop/img/svg/header/icon-shopping.svg' %}" alt="shopping">
                    <span class="icon-label">Cart</span>
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account' %}" class="header-menu-link-icon">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                        <span class="icon-label">My Account</span>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-menu-link-icon">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                        <span class="icon-label">My Account</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}