{% extends 'shop/base.html' %}
{% load static %}

{% block css_styles %}
<link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'shop/css/product_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header-wrapper header-border">
        <div class="header-logo">
            <a href="{% url 'home' %}" class="header-logo-link">
                <h1 class="header-logo-link-title">
                    SHOPPE
                </h1>
            </a>
        </div>
        <div class="header-menu">
            <div class="header-menu-items">
                <a href="{% url 'shop' %}" class="header-menu-link-text">
                    Shop
                </a>
                <a href="#!" class="header-menu-link-text">
                    Blog
                </a>
                <a href="#!" class="header-menu-link-text">
                    Our Story
                </a>
            </div>
            |
            <div class="header-menu-items">
                <a href="{% url 'cart' %}" class="header-menu-link-icon">
                    <img src="{% static 'shop/img/svg/header/icon-shopping.svg' %}" alt="shopping">
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account' %}" class="header-menu-link-icon">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-menu-link-icon">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<main class="main">
    <section class="shop-table">
        <div class="table-header">
            <h2 class="table-header-title">
                Shop The Latest
            </h2>
            <a href="{% url 'shop' %}" class="table-header-view-all">
                View All
            </a>
        </div>

        <div class="table-items">
        {% for i in products %}
            <div class="table-item">
                <div class="table-item-card">
                    <a href="{{ i.get_absolute_url }}" class="table-item-link">
                        {% if i.photo_set.all %}
                            {% for el in i.photo_set.all %}
                                {% if el.index == 1 %}
                                    <img src="{{ el.image.url }}" alt="1" class="table-item-pic">
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <img src="{% static 'shop/img/jpg/nothing-image.jpg' %}" alt="1" class="table-item-pic">
                        {% endif %}
                    </a>

                </div>
                <a href="{{ i.get_absolute_url }}" class="table-item-link">
                    <p class="table-item-name">
                        {{ i.title }}
                    </p>
                </a>
                <p class="table-item-price">
                    ₴ {{ i.price }}
                </p>
            </div>
        {% endfor %}
        </div>
    </section>
</main>
{% endblock %}