{% extends 'shop/user_flick_header.html' %}
{% load static %}
{% load shop_tags %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/signin.css' %}">
{% endblock %}


{% block main %}
<main class="main">
    <div class="sign-in">
        <h1 class="title-wrap">
            My account
        </h1>
        <div class="links-reg">
            <a href="{% url 'login' %}" class="link-url active-url">Sign in</a>
            <a href="{% url 'register' %}" class="link-url">Register</a>
        </div>

        {% if messages %}
            {% for i in messages %}
                {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="message-auth success-message">
                        <p>
                            {{ i }}
                        </p>
                    </div>
                {% elif i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="message-auth error-message">
                        <p>
                            {{ i }}
                        </p>
                    </div>
                {% else %}
                     <div class="message-auth">
                        <p>
                            {{ i }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form class="sign-in_form" method="post">
            {% csrf_token %}
            <div class="form-errors">
                {{ form.non_field_errors }}
            </div>

            {% for i in form %}
                <div class="input-wrap">
                    {{ i }}
                    <div class="form-errors">
                        {{ i.errors }}
                    </div>
                </div>
            {% endfor %}
<!--            <input type="email" class="sign-in_form-input" placeholder="Email" required>-->
<!--            <input type="password" class="sign-in_form-input" placeholder="Password" required>-->
    <!--        <div class="checkbox-info">-->
    <!--            <input type="checkbox" class="save-info-input">-->
    <!--            <label class="checkbox-desc">Remember me</label>-->
    <!--        </div>-->

            <button type="submit" class="sign-in_form-submit">SIGN IN</button>
        </form>
        <a href="{% url 'password_reset' %}" class="forgotten-pass">Have you forgotten your password?</a>
    </div>
</main>
{% endblock %}

