{% extends 'shop/base.html' %}
{% load static %}
{% load shop_tags %}

{% block css_styles %}
<link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'shop/css/product_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block js_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% endblock %}

{% block header %}
<header class="header">
    <div class="header-wrapper header-border">
        <div class="header-logo">
            <a href="{% url 'home' %}" class="header-logo-link">
                <h1 class="header-logo-link-title">
                    SHOPPE
                </h1>
            </a>
        </div>
        <div class="header-menu">
            <div class="header-menu-items">
                <a href="{% url 'shop' %}" class="header-menu-link-text flicking">
                    Shop
                </a>
                <a href="{% url 'about' %}" class="header-menu-link-text">
                    Our Story
                </a>
            </div>
            |
            <div class="header-menu-items">
                <a href="{% url 'cart' %}" class="header-menu-link-icon">
                    <img src="{% static 'shop/img/svg/header/icon-shopping.svg' %}" alt="shopping">
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account' %}" class="header-menu-link-icon">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-menu-link-icon">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<main class="main">
    <section class="messages">
        <div class="added-cart message" id="yes-msg">
            <div class="first-added">
                <img src="{% static 'shop/img/svg/main/messages/yes-icon.svg' %}" alt="yes" class="added-icon-message">
                <p class="added-cart-message-text">
                    The item added to your Shopping bag.
                </p>
            </div>
            <a href="{% url 'cart' %}" class="view-cart-link">
                VIEW CART
            </a>
        </div>
    </section>
    <section class="product">
        <div class="product-images">
            <div class="nav-container">
                <div class="slider-nav product-images-slider-nav">
                    {% if product.photo_set.all %}
                        {% for i in product.photo_set.all %}
                            <div class="product-image-small-wrap">
                                <img src="{{ i.image.url }}" alt="image" class="product-image-small">
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="product-image-small-wrap">
                            <img src="{% static 'shop/img/jpg/nothing-image.jpg' %}" alt="image" class="product-image-small">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="main-container">
                <div class="slider slider-main product-image-slider">
                    {% if product.photo_set.all %}
                        {% for i in product.photo_set.all %}
                            <div class="product-image-big-wrap">
                                <img src="{{ i.image.url }}" alt="image" class="product-image-big">
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="product-image-big-wrap">
                            <img src="{% static 'shop/img/jpg/nothing-image.jpg' %}" alt="image" class="product-image-big">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="product-info">
            <h2 class="product-info_title">
                {{ product.title }}
            </h2>

            <p class="product-info_price">
                ₴ {{ product.price }}
            </p>

            <div class="product-info_rate">

                <div class="product-info_rate-stars">
                    {% for i in avg_star|range_list %}
                        <img src="{% static 'shop/img/svg/main/product_icons/star-rate-icon.svg' %}" alt="star" class="product-info_rate-star">
                    {% endfor %}
                    {% for i in avg_star|range_list_minus %}
                        <img src="{% static 'shop/img/svg/main/product_icons/star-rate-off.svg' %}" alt="star" class="product-info_rate-star">
                    {% endfor %}
                </div>
                <p class="product-info_rate-rewiews">
                    {{ product.review_set.all|length }} customer review
                </p>
            </div>

            <p class="product-info_short-desc">
                {{ product.description|truncatechars:225 }}
            </p>


            {% if product.quantity %}
                <form action="{% url 'add_cart' %}" method="post">
                    {% csrf_token %}
                    <div class="product-info_order">
                        <input type="hidden" name="url_from" id="url_from" value="{{request.path}}">
                        <input type="hidden" name="id" id="product_id" value="{{ product.id }}">
                        <input type="hidden" name="price" id="price" value="{{ product.price }}">
                        <div class="product-info_order-amount">
                            <input type="button" value="-" id="button_minus" class="disabled">
                            <input type="number" step="1" min="1" max="{{ product.quantity }}" id="num_count" name="quantity" value="1" title="Qty" readonly="true">
                            {% if product.quantity <= 1 %}
                                <input type="button" value="+" id="button_plus" class="disabled">
                            {% else %}
                                <input type="button" value="+" id="button_plus">
                            {% endif %}
                        </div>
                        <div class="product-info_order-button-cart">
                            <button class="product-info_order-button-cart-text" id="add">
                                ADD TO CART
                            </button>
                        </div>
                    </div>
                </form>

            {% else %}
                <div class="product-info_order">
                    <div class="product-info_not-available">
                        Not available
                    </div>
                </div>
            {% endif %}

            <div class="product-info_buttons">
                {% if request.user.is_authenticated %}
                    <div class="product-info_buttons-like" id="button_like" data-id="{{ product.id }}">
                        <img src="{% static 'shop/img/svg/main/product_icons/like-off-icon.svg' %}" alt="like-off" class="like-icon active" id="like_icon-off">
                        <img src="{% static 'shop/img/svg/main/product_icons/like-on-icon.svg' %}" alt="like-on" class="like-icon" id="like_icon-on">
                    </div>
                {% else %}
                    <form action="{% url 'add_fav' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="url_from" value="{{ request.path }}">
                        <button class="product-info_buttons-like">
                            <img src="{% static 'shop/img/svg/main/product_icons/like-off-icon.svg' %}" alt="like-off" class="like-icon active" id="like_icon-off">
                        </button>
                    </form>
                {% endif %}


                <div class="product-info_buttons-links">
                    <a href="#!" class="product-info_buttons-link">
                        <img src="{% static 'shop/img/svg/footer/facebook-icon.svg' %}" alt="Facebook" class="product-info_buttons-link-pic">
                    </a>
                    <a href="#!" class="product-info_buttons-link">
                        <img src="{% static 'shop/img/svg/footer/instagram-icon.svg' %}" alt="Instagram" class="product-info_buttons-link-pic">
                    </a>
                    <a href="#!" class="product-info_buttons-link">
                        <img src="{% static 'shop/img/svg/footer/twitter-icon.svg' %}" alt="Twitter" class="product-info_buttons-link-pic">
                    </a>
                </div>
            </div>

            <div class="product-info_sku">
                <span class="product-info_sku-text">
                    SKU:
                </span>
                <span class="product-info_sku-article">
                    {{ product.sku }}
                </span>
            </div>

            <div class="product-info_categories">
                <span class="product-info_categories-text">
                    Categories:
                </span>
                <span class="product-info_categories-selected">
                    {{ product.category.name }}
                </span>
            </div>
        </div>
    </section>


    <section class="tabs">
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'Description')">Description</button>
            <button class="tablinks" onclick="openCity(event, 'Aditional information')">Aditional information</button>
            <button class="tablinks" onclick="openCity(event, 'Reviews')">Reviews</button>
        </div>

        <!-- Tab content -->
        <div id="Description" class="tabcontent">
            <p>{{ product.description }}</p>
        </div>

        <div id="Aditional information" class="tabcontent">
            {% for i in product.attributevalues_set.all %}
                <p class="parametr">{{ i.attribute }}:<span class="f-span">{{ i.value_text }}</span></p>
            {% endfor %}
        </div>

        <div id="Reviews" class="tabcontent">
            <div class="reviews-wrap">
                <div class="reviews-comment">
                    <h2 class="reviews-comment-title">
                        {{ product.review_set.all|length }} Reviews for lira earings
                    </h2>
                    <div class="comments">
                        {% for i in product.review_set.all %}
                            <div class="comment">
                                <div class="comment-info">
                                    <p class="comment-info_username">
                                        {{ i.name }}
                                    </p>
                                    <p class="comment-info_date">
                                        {{ i.time_create|date:"j M, Y" }}
                                    </p>
                                </div>
                                <div class="comment-stars">
                                    {% for i in i.star_rating|range_list %}
                                        <img src="{% static 'shop/img/svg/main/product_icons/star-rate-icon.svg' %}" alt="star" class="review-star">
                                    {% endfor %}
                                    {% for i in i.star_rating|range_list_minus %}
                                        <img src="{% static 'shop/img/svg/main/product_icons/star-rate-off.svg' %}" alt="star" class="review-star">
                                    {% endfor %}
                                </div>
                                <div class="comment-text">
                                    {{ i.text }}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="reviews-form">
                    <h2 class="reviews-form-title">
                        Add a Review
                    </h2>
                    <p class="form-desc">
                        Your email address will not be published. Required fields are marked *
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        {{ review_form.text }}

                        {% if not request.user.is_authenticated %}
                            {{ review_form.name }}
                        {% endif %}

                        <p class="form-text-stars">Your Rating *</p>

                        <div class="rating">
                            {% for i in review_form.star_rating %}
                                {{ i.tag }}
                                <label for="{{i.id_for_label}}"></label>
                            {% endfor %}
                        </div>

                        <input type="submit" class="submit-input" value="Submit">


                    </form>
                </div>
            </div>
        </div>


    </section>
    {% if similar %}


    <section class="similar-items">
        <h2 class="similar-title">
            Similar Items
        </h2>
        <div class="table-items">
            {% for i in similar %}
                <div class="table-item">
                    <div class="table-item-card">
                        <a href="{{ i.get_absolute_url }}" class="table-item-link">
                            {% if i.photo_set.all %}
                                <img src="{{ i.photo_set.all.0.image.url }}" alt="image" class="table-item-pic">
                            {% else %}
                                <img src="{% static 'shop/img/jpg/nothing-image.jpg' %}" alt="image" class="table-item-pic">
                            {% endif %}
                        </a>
                    </div>
                    <a href="#!" class="table-item-link">
                        <p class="table-item-name">
                            {{ i.title }}
                        </p>
                    </a>
                    <p class="table-item-price">
                        {{ i.price }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</main>
{% endblock main %}

{% block js_scripts %}
<script src="{% static 'shop/js/quantity_product.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'shop/js/slick.min.js' %}"></script>
<script src="{% static 'shop/js/sliderProduct.js' %}"></script>
<script src="{% static 'shop/js/tabs.js' %}"></script>
<script src="{% static 'shop/js/fontAwesome.js' %}"></script>
<script src="{% static 'shop/js/ajax_script.js' %}"></script>
{% endblock %}