{% extends 'shop/user_flick_header.html' %}
{% load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/signin.css' %}">
{% endblock %}


{% block main %}
<main class="main">
    <div class="sign-in">
        <h1 class="title-wrap">
            My account
        </h1>
        <div class="links-reg">
            <a href="{% url 'login' %}" class="link-url">Sign in</a>
            <a href="{% url 'register' %}" class="link-url active-url">Register</a>
        </div>

        <form class="sign-in_form" method="post">
            {% csrf_token %}
            {% for i in form %}
                <div class="input-wrap">
                    {{ i }}
                    <div class="form-errors">
                        {{ i.errors }}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="sign-in_form-submit">REGISTER</button>
        </form>
    </div>
</main>
{% endblock %}