{% extends 'shop/base.html' %}
{% load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/signin.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header-wrapper header-border">
        <div class="header-logo">
            <a href="{% url 'home' %}" class="header-logo-link">
                <h1 class="header-logo-link-title">
                    SHOPPE
                </h1>
            </a>
        </div>
        <div class="header-menu">
            <div class="header-menu-items">
                <a href="{% url 'shop' %}" class="header-menu-link-text">
                    Shop
                </a>
                <a href="{% url 'about' %}" class="header-menu-link-text">
                    Our Story
                </a>
            </div>
            |
            <div class="header-menu-items">
                <a href="{% url 'cart' %}" class="header-menu-link-icon">
                    <img src="{% static 'shop/img/svg/header/icon-shopping.svg' %}" alt="shopping">
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account' %}" class="header-menu-link-icon flicking">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-menu-link-icon flicking">
                        <img src="{% static 'shop/img/svg/header/icon-user.svg' %}" alt="user">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<main class="main">
    <div class="sign-in">
        <h1 class="sign-in_title">
            My account
        </h1>
        <div class="links-reg">
            <a href="{% url 'login' %}" class="link-url">Sign in</a>
            <a href="{% url 'register' %}" class="link-url active-url">Register</a>
        </div>

        <form class="sign-in_form" method="post">
            {% csrf_token %}
            {% for i in form %}
                <div class="input-wrap">
                    {{ i }}
                    <div class="form-errors">
                        {{ i.errors }}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="sign-in_form-submit">REGISTER</button>
        </form>
    </div>
</main>
{% endblock %}