{% extends 'shop/base.html' %}
{% load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/resetpassword.css' %}">
{% endblock %}

{% block main%}
<main class="main">
    <div class="reset_password">
        <h1 class="reset-title">
            Enter new password
        </h1>
        <p class="reset-desc">
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        <form class="reset-password_form" method="post">
            {% csrf_token %}

            {% for i in form %}
                <div class="input-wrap">
                    {{ i }}
                    <div class="form-errors">
                        {{ i.errors }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="form-button">CHANGE MY PASSWORD</button>
        </form>
    </div>
</main>
{% endblock %}
