{% extends 'shop/shop_flick_header.html' %}
{% load static %}
{% load shop_tags %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'shop/css/products_list.css' %}">
{% endblock %}

{% block main %}
<main class="main">
    <h2 class="products-list-title">
        Shop The Latest
    </h2>
    <section class="all-products">
        <form action="{% url 'shop' %}" class="filter-form" method="get">

            <p class="search-form">
                {{ form.title }}

                <button type="submit" class="search-form-button">
                    <img src="{% static 'shop/img/svg/header/icon-search.svg' %}" alt="search" class="filter-search">
                </button>
            </p>
            <div class="filter-buttons">
                <div class="select">
                    <button type="button" class="select_header" readonly="true">
                        {% if get_items.category %}
                            <div class="select_current">{{form_select|get_item:get_items.category}}</div>
                        {% else %}
                            <div class="select_current">Category</div>
                        {% endif %}
                    </button>

                    <ol class="select_list">
                        <li class="select_item" data-value="">-------------</li>

                        {% for d in form_select.items %}
                            <li class="select_item" data-value="{{ d.0 }}">{{ d.1 }}</li>
                        {% endfor %}
                    </ol>

                    <input type="text" name="category" value="{{get_items.category}}" class="select_input-hidden">
                </div>

                <div class="select">
                    <button type="button" class="select_header" readonly="true">
                        {% if get_items.order_by %}
                            <div class="select_current">{{ ordering|get_item:get_items.order_by }}</div>
                        {% else %}
                            <div class="select_current">Sort by</div>
                        {% endif %}
                    </button>

                    <ol class="select_list">
                        {% for i in ordering.items %}
                            <li class="select_item" data-value="{{i.0}}">{{i.1}}</li>
                        {% endfor %}
                    </ol>
                    <input type="text" name="order_by" value="{{get_items.order_by}}" class="select_input-hidden">
                </div>

                <span>{{ form.aboba }}</span>
                <div class="double-range_wrapper">
                    <div class="container">
                        <div class="slider-track"></div>
                        {{ form.price_min }}
                        {{ form.price_max }}
                    </div>
                    <div class="values">
                        <span>Price:</span>
                        <span>$</span><span id="range1">0</span>
                        <span> &dash; </span>
                        <span>$</span><span id="range2">100</span>
                    </div>
                </div>

                <div class="checkbox">
                    <span class="checkbox-text">In stock</span>
                    <label class="switch">
                        {% if get_items.in_stock == '1' %}
                            <input type="checkbox" checked>
                            <span class="checkbox-switch round"></span>
                        {% else %}
                            <input type="checkbox">
                            <span class="checkbox-switch round"></span>
                        {% endif %}
                    </label>
                    {{ form.in_stock }}
                </div>

                <button type="submit" class="filter-submin-button">Filter</button>
            </div>
        </form>

        <div class="table-items-w-pag">
            <div class="table-items-shop">
                {% for i in products_list %}
                    <div class="table-item">
                        <div class="table-item-wrap">
                            <div class="table-item-card">
                                <a href="{{ i.get_absolute_url }}" class="table-item-link">
                                    {% if i.photo_set.all %}
                                        <img src="{{ i.photo_set.get.image.url }}" alt="1" class="table-item-pic">
                                    {% else %}
                                        <img src="{% static 'shop/img/jpg/nothing-image.jpg' %}" alt="1" class="table-item-pic">
                                    {% endif %}
                                </a>
                            </div>
                            <a href="#!" class="table-item-link">
                                <p class="table-item-name">
                                    {{ i.title }}
                                </p>
                            </a>
                            <p class="table-item-price">
                                $ {{ i.price }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if page_obj.has_other_pages %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}" class="previous-page">
                            <img src="{% static 'shop/img/svg/select-icon.svg' %}" alt="<">
                        </a>
                    {% endif %}
                    {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                            <a href="?page={{p}}" class="page-link active-page">
                                <div>
                                    <span>{{p}}</span>
                                </div>
                            </a>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <a href="?page={{p}}" class="page-link">
                                <div>
                                    <span>{{p}}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}" class="next-page">
                            <img src="{% static 'shop/img/svg/select-icon.svg' %}" alt=">">
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}


{% block js_scripts %}
<script src="{% static 'shop/js/select.js' %}"></script>
<script src="{% static 'shop/js/doubleRange.js' %}"></script>
{% endblock %}